.playlistLayout {
  width: 500px;
  margin: 0 auto;  
}

@media (max-width: 600px) {
  .playlistLayout {
    width: 400px;
    margin: 0 auto; 
  }
}

.editRow {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.editRow input {
  padding: 4px 8px;
  font-size: 1.1rem;
}